In [31]:
import pandas as pd

In [32]:
data = pd.read_csv('shmya_final_version.csv')

In [33]:
data[data['cutlery'] > 2]['order_price'].mean()

584.8973714953271

In [34]:
data[data['cutlery'] <= 2]['order_price'].mean()

641.3240461004812

In [35]:
data = data[data['cutlery'] > 2]

In [36]:
data = data[(data.date < '2022-01-01') | (data.date > '2022-01-10')]

In [37]:
data = data[data.order_price > 800]

In [38]:
data

                      date  cutlery  tips  order_price     uid  order_id
0      2022-01-17 06:38:43        3   100         1001  120967  73041443
18     2022-01-26 13:48:12        3   150         1097  255228  33800999
23     2022-01-26 13:22:38        4   140         1161  781632  56865155
46     2022-01-14 11:48:06        3    80         1009  638996  88412506
52     2022-01-31 17:21:48        3   110          861  686259  39708422
...                    ...      ...   ...          ...     ...       ...
26027  2022-01-25 04:18:43        3    80          841  739019  85117758
26033  2022-01-14 07:05:08        3    90          985  540487  87039706
26034  2022-01-19 15:07:15        3   160         1202  117066  95916480
26038  2022-01-23 09:11:45        4   140          892  958020  31282164
26043  2022-01-31 18:36:03        4    20          942  908699  78733530

[3387 rows x 6 columns]

In [39]:
data.shape[0]

3387